<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head"></head>

<body>
<nav th:replace="partials/navbar :: nav"></nav>

<div id="wrapper">
  <main class="container">
    <form th:action="@{|/posts/${post.id}/edit|}" th:method="POST" th:object="${post}">
      <!--            input for title-->
      <input type="text" th:field="*{title}" name="title" placeholder="Title" class="form-control">
      <!--            input for body-->
      <textarea type="text" th:field="*{body}" name="body" placeholder="Body" class="form-control"></textarea>
      <!--            submit button-->
      <button type="submit" class="btn btn-primary">Create Post</button>
    </form>
  </main>

</div>
</body>