<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/partials/header:: head"/>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
<style>
    body {background-color: #c8f5ff;}
</style>

</head>
<body>
<div th:replace="/partials/navbar:: navbar"></div>
<div class="container">
    <div class="row py-5 m-3 text-center">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/1">Would you rather roll the dice at #1</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/2">Would you rather roll the dice at #2</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/3">Would you rather roll the dice at #3</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/4">Would you rather roll the dice at #4</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/5">Would you rather roll the dice at #5</a>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <a class="link-offset-2 link-underline link-underline-opacity-0" href="/roll-dice/6">Would you rather roll the dice at #6</a>
                </div>
            </div>

        </div>
    </div>
</div>

<!--<h1 th:text="${diceroll}"></h1>-->
<h1>You pick: </h1>   <h1 th:text="${num}"></h1>
<h1>The correct guess was: </h1> <h1 th:text="${diceResult}"></h1>
<h1 th:text="${isCorrectGuess}"></h1>





<h1></h1>
</body>
</html>